* {
  font-family: Sofia-pro, sans-serif;
}
.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-right: auto;
  width: 3em;
  padding: 0;
}
.navbar-options-wrapper {
  display: flex;
  margin-right: 1em;
}
.navbar-option {
  margin-top: 0.2em;
  padding: 0.2em;
}
.join-button {
  padding: 0.2em;
}
.join-button h2 {
  padding: 0.5em;
  background-color: #007c77;
  color: white;
  border-radius: 1.2em;
  transition: 0.4s;
}
h2 {
  font-size: 0.5em;
  font-weight: 600;
}
.join-button:hover h2 {
  background-color: #204b57;
}
