* {
  font-family: Sofia-pro, sans-serif;
}
.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-right: auto;
  width: 15em;
  transition: 0.6s;
  padding: 0;
}
.logo:hover {
  width: 12em;
}
.navbar-options-wrapper {
  display: flex;
  margin-right: 1em;
  align-items: center;
}
.navbar-option {
  padding: 0.8em;
}
h2 {
  font-size: 2em;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 2px;
  position: relative;
}
.navbar-option h2:before {
  width: 0%;
  transition: 1s;
  content: "";
  height: 5px;
  bottom: 0;
  position: absolute;
  border-radius: 1em;
  background-color: black;
}
.navbar-option:hover h2:before {
  width: 100%;
}
.join-button {
  padding: 1em;
}
.join-button h2 {
  padding: 0.5em;
  background-color: #007c77;
  color: white;
  border-radius: 1.2em;
  transition: 0.4s;
}
.join-button:hover h2 {
  background-color: #204b57;
}
.dropdown-toggle {
  display: none;
}
@media screen and (max-width: 850px) {
  .dropdown-toggle {
    display: block;
    font-size: 7em;
    margin-right: 0.1em;
    margin-left: 0.1em;
    margin-bottom: 0.2em;
  }
  .navbar-option {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .join-button {
    display: none;
  }
}
